@mixin active-opacity(){
    &:active {
      opacity : .6;
       transition: opacity .3s ease
    }
}

@mixin hover-bg($color:white){
  &:hover {
    background-color: darken(white, 5%);
    transition: backgroundColor .3s ease
  }
}

@mixin hover-color($color: $--color-primary){
  &:hover {
    color: $color;
    transition: color .3s ease
  }
}
